# Python 
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Onnx models
*.onnx

# Env variables
.env
aws_credentials
*.pem

# MLFlow db
*.db

#GIT
.git 
*.log

*.csv
*.parquet
artifacts/
mlruns/

#package cache
.uv/
.cache/

#Notebooks
*.ipynb

#Local
start_mlops.sh